[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/catch2"]
	path = extern/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/doctest"]
	path = extern/doctest
	url = https://github.com/doctest/doctest.git
